<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dev1" type="custom_config_test.SomeSettings, custom_config_test"/>
    <section name="dev2" type="custom_config_test.SomeSettings, custom_config_test"/>
  </configSections>
  <dev1 FillColor="LightBlue" TextSize="9.5" FillOpacity="50"/>
  <dev2 FillColor="Cyan" TextSize="12" FillOpacity="100"/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
